local:
SUPABASE_URL=http://127.0.0.1:54321
FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:54321/functions/v1/graphql/functions/v1/graphql
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqZGJnamNhanBqcGlseWhmbnVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc0NDUzNzIsImV4cCI6MjA4MzAyMTM3Mn0.i3FEI1bXEU4awm4zsWd0-Y-p5fx9sn-5ZbUbsl4qjIA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqZGJnamNhanBqcGlseWhmbnVjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzQ0NTM3MiwiZXhwIjoyMDgzMDIxMzcyfQ.D-Fa1GhbYlQgXEc1-EuD9oxq-ettZ8lp5Qm3KX5O1fQ

prod:
SUPABASE_URL=https://rjdbgjcajpjpilyhfnuc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqZGJnamNhanBqcGlseWhmbnVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc0NDUzNzIsImV4cCI6MjA4MzAyMTM3Mn0.i3FEI1bXEU4awm4zsWd0-Y-p5fx9sn-5ZbUbsl4qjIA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqZGJnamNhanBqcGlseWhmbnVjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzQ0NTM3MiwiZXhwIjoyMDgzMDIxMzcyfQ.D-Fa1GhbYlQgXEc1-EuD9oxq-ettZ8lp5Qm3KX5O1fQ
FRONTEND_URL=http://localhost:3000
API_URL=https://rjdbgjcajpjpilyhfnuc.supabase.co/functions/v1/graphql
